.list-container {
  display: flex;
  flex-direction: row;
  width: calc(100% - 200px);
}

.list {
  width: 400px;
  border-right: 1px solid lightskyblue;
}

.list-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  width: calc(100% - 400px);
}